@media (min-width: 1024px) {
  .depoimentos {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .card-1 {
    grid-column: 1 / 3;
  }

  .card-2 {
    grid-column: 3 / 4;
  }

  .card-5 {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .card-3 {
    grid-column: 1 / 2;
  }

  .card-4 {
    grid-column: 2 / 4;
  }


}
