* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-de-fundo: hsl(214, 17%, 92%);
  --card-fonte-branca:  hsl(0, 0%, 100%);
  --card-roxo: hsl(263, 55%, 52%);
  --card-cinza-medio: hsl(217, 19%, 35%);
  --card-cinza-escuro: hsl(219, 29%, 14%);
}

body {
  background-color: var(--cor-de-fundo);
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 80px 0px;
}

.depoimentos {
  max-width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  width: 400px;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.13);
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 22px;
}

.header img {
  border-radius: 50%;
  border: 3px solid white;
  width: 40px;
}

.header h4 {
  font-weight: 400;
}

.header span {
  font-size: 0.75rem;
  opacity: 0.7;
}

.card h2 {
  font-size: 1.7rem;
  margin-bottom: 14px;
  line-height: 1.2;
  font-weight: 500;
}

.card p {
  font-size: 1.1rem;
  line-height: 1.4;
  opacity: 0.9;
}

.card-1 {
  background-color: var(--card-roxo);
  color: var(--card-fonte-branca);
}

.card-1 .header img {
  border: 3px solid rgb(166, 97, 245);
}

.card-2 {
  background-color: var(--card-cinza-medio);
  color: var(--card-fonte-branca);
}

.card-3 {
  background-color: var(--card-fonte-branca);
  color: var(--card-cinza-medio);
}

.card-4 {
  background-color: var(--card-cinza-escuro);
  color: var(--card-fonte-branca);
}

.card-4 .header img {
  border: 3px solid var(--card-roxo);
}

.card-5 {
  background-color: var(--card-fonte-branca);
  color: var(--card-cinza-medio);
}