* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: hsl(214, 17%, 92%);
    --fonte-cinza: hsl(224, 10%, 45%);
    --card-fonte-branca:  hsl(0, 0%, 100%);
    --card-roxo: hsl(263, 55%, 52%);
    --card-cinza-medio: hsl(217, 19%, 35%);
    --card-cinza-escuro: hsl(219, 29%, 14%);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: "Barlow Semi Condensed", sans-serif;
}

main {
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-rows: 5fr;
}

div {
    background-color: var(--card-roxo);
    width: 400px;
    padding: 45px;
    border-radius: 10px;
    box-shadow: 50px 50px 50px rgba(0, 0, 0, 0.13);
}

.foto {
    border-radius: 50%;
    border: 2px solid white;
    width: 40px;
}

.usuario {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

h3 {
    font-weight: 400;
    font-size: 17px;
    color: rgb(218, 218, 218);
}

p {
    font-size: 17px;
    color: rgb(218, 218, 218);
}

.destacado {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--card-fonte-branca);
}

.grid-1 {
    margin-top: 100px;
    color: var(--card-fonte-branca);
}

.grid-1 > span > h2 {
    color: var(--card-fonte-branca);
}

.grid-1 > span, p {
    color: rgb(218, 218, 218);
}

.grid-2 {
    background-color: var(--card-cinza-medio);
}

.grid-2 > span > h2 {
    color: var(--card-fonte-branca);
}

.grid-2 > span, p {
    color: rgb(218, 218, 218);
}

.grid-3 {
    background-color: var(--card-fonte-branca);
}



.grid-4 {
    background-color: var(--card-cinza-escuro);
}

.grid-4 .foto {
    border: 2px solid var(--card-roxo);
}

.grid-5 {
    margin-bottom: 100px;
}